.s_tbdr{
  border: 1px dashed #000;
}
header{
  height: 107px;
  border: 1px dashed #0000;
  background-color: blueviolet;
}
main{   
  min-height: 650px;
  background-color: #ffff;
  border: 1px dashed #0000;
}
footer{
  height: 75px;
  background-color: #0099cc;
  border: 1px dashed #0000;
}